.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-header {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.page-content {
  flex: 1;
  padding: 10px 24px 0;
}
